parameters:
	ignoreErrors:
		-
			message: '#^Trait Jegex\\LaravelPriceable\\Traits\\HasPrices is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/HasPrices.php
